 .Cabecalho { background-color:green; width:auto; height:150px;
        text-align:center; color:white; font-size:100px;}

 .Conteudo { background-color:white; width:auto; height:700px;
    text-align:center; font-size:25px;}
  
 .Rodape { background-color:green; width:auto; height:150px;
    text-align:center; color:white; font-size:20px;}
